/*通用样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #efefef;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul, li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {

}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}



/*正文样式*/

.content {
    width: 100%;
    margin: 40px 0;
}
.content .carousel {
    width: 710px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.carousel .images {
    transition: all 0.5s;
}
.carousel .images ul li a {
    display: block;
}

.content .buttons {
    margin: 0 auto;
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.buttons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
    margin: 0px 6px;
}
